body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.index-cards {
    margin: 5px auto;
}
.lang-ja {
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "MS Gothic", "ＭＳ ゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif 
}
.lang-zh {
    font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.lang-en {
    font-family: Arial, Helvetica, sans-serif;
}
.control-panel-container {
    right: 5px;
    top: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.control-panel-container i {
    cursor: pointer;
}