body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.index-cards {
    margin: 5px auto;
}
.lang-ja {
    font-family: Arial, Helvetica, 'Yu Gothic UI', 'Meiryo', sans-serif;
}
.lang-zh {
    font-family: Arial, Helvetica, 'Noto Sans CJk SC', sans-serif;
}
.lang-en {
    font-family: Arial, Helvetica, sans-serif;
}